<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
              http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
         version="2.5"
         xmlns="http://java.sun.com/xml/ns/javaee">

    <servlet>
        <servlet-name>requestsServlet</servlet-name>
        <servlet-class>net.babypython.server.http.RequestsServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>requestsServlet</servlet-name>
        <url-pattern>/pwabuilder-sw.js</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>requestsServlet</servlet-name>
        <url-pattern>/pwabuilder-sw-register.js</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>requestsServlet</servlet-name>
        <url-pattern>/sw.js</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>databaseServlet</servlet-name>
        <servlet-class>net.babypython.server.services.database.DatabaseServiceImpl</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>databaseServlet</servlet-name>
        <url-pattern>/babypython/database</url-pattern>
    </servlet-mapping>

    <!-- Default page to serve -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>

</web-app>
